*{
	padding: 0;
	margin: 0;
	box-shadow: none;
	font-family: 'Poppins', sans-serif;
}
.calculator{
	margin-top: 50px;
	background: #d1cee6;

}
.method h6,.calculation h6{
    color: #070001;
    font-weight: 600;
    font-size: 14px;
}
.method button{
	width: 100%;
	background: white;
	border: none;
	height: 30px;
	text-align: left;
	border-radius: 5px;
	cursor: pointer;

	
}

.method button p{
	color: #070001;
	width: 70%;
	padding: 2px 0px 0px 10px;

}
.method .last p{
	margin-right: 10px !important;

}

.method button:hover p,
.method .icon:hover i,
.method button:hover{
    background-color: #070001;
	color: white !important;
	border: none;
}
.method button:focus,
.method .icon:focus i,
.method button:focus p{
	background-color: #070001;
	color: white !important;
	outline: none;
	border: none;
}
.method .icon{

}
.method .icon i{
	font-size: 15px;
	font-weight: 400;
}
.method .last i{
	font-size: 25px !important;
}
.calculation{
}
.calculation .gbp-amount{
	height: 35px;
	border-radius: 20px;
	background-color: #070001 !important;

}
.gbp-amount .amount{
	text-align: center;
    padding: 5px 10px;
	border-radius: 10px;


}
.gbp-amount .amount input{
	width: 100%;
    padding: 0px 10px;
    border: none;
    background-color: #070001;
    color: white;


}
.gbp-amount .amount input:focus{
	outline: none;
    background-color: #070001;

}
/*.gbp-amount .up-down{

}
.gbp-amount .up-down i{

}
.gbp-amount .up-down .up{

}
.gbp-amount .up-down .down{

}*/
.gbp-amount .gbp-btn{
	display: flex;
    justify-content: center;
    background-color: #070001;
    border-radius: 10px;
    background-color: white;
}
.gbp-amount .gbp-btn img{
	width: 20px;
	height: 15px;
	margin-top: 10px;
}
.gbp-amount h5{
	padding: 6px 10px;
	font-size: 20px;
	font-weight: 400;
	color: #070001;
}


.price p{
	padding: 0px 10px;
}
.sub-btn .started{
	width: 100%;
    height: 35px;
    background-color: #070001;
    border: none;
    border-radius: 10px;
	outline: none;
	cursor: pointer;
    color: white;
    font-size: 15px;
}
.sub-btn .started i{
	margin-left: 10px;
    font-size: 18px;
    font-weight: 400;

}